{% extends 'travely_auth/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="container mt-5">
  <div class="row">
      {% for travel in travels %}
          <div class="col">
              <div class="card" style="width: 18rem;height: 24rem;">
                  {% if travel.image %}
                      <img src="{{ travel.image.url }}" class="card-img-top" alt="{{ travel.title }}">
                  {% else %}
                      <img src="{% static 'path/to/default_image.jpg' %}" class="card-img-top" alt="{{ travel.title }}">
                  {% endif %}
                  <div class="card-body">
                      <h5 class="card-title">{{ travel.title }}</h5>
                      <p class="card-text">{{ travel.description }}</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
              </div>
          </div>
      {% endfor %}
  </div>
</div>


{% endblock %}

