{% extends 'travely_auth/base.html' %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block content %}


<div class="container mt-5">
    <h2>{{ user.first_name }} {{ user.last_name }}</h2>
    <div class="row align-items-start mt-3">
      <div class="col-md-4">
        <!-- Display profile picture -->
        {% if user.profile_picture %}
        <img src="{{ user.profile_picture.url }}" alt="Profile Picture" class="rounded-circle img-fluid" style="width: 150px; height: 150px;">
        {% else %}
        <img src="{% static 'images/profile/default.png' %}" alt="Default Profile Picture" class="rounded-circle img-fluid" style="width: 150px; height: 150px;">
        {% endif %}
      </div>
      <div class="col-md-8">
        <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save Changes</button>
        </form>
        <a href="{% url 'password_change' %}">Change Password</a>
      </div>
      
    </div>
</div>


{% endblock %}