    {% extends 'travely_auth/base.html' %}
    {% load static %}
    {% block title %}Admin Dashboard{% endblock %}
    {% block content %}
    <div>
        <h1>Admin Dashboard</h1>

        <!-- body -->
        <!-- top section-->
        <div class="container mt-5 mb-5">
            <div class="row">
                <div class="col-md-3">
                    <!-- Sidebar with buttons -->
                    <div class="list-group">
                        <p>Travels</p>
                            <a href="{% url 'travely_travels:add_travel' %}" class="list-group-item list-group-item-action">Add Travel</a>
                            <a href="{% url 'travely_travels:all_travels' %}" class="list-group-item list-group-item-action">All Travels</a>
                        <p>Hotels</p>
                            <a href="{% url 'travely_hotels:add_hotel' %}" class="list-group-item list-group-item-action">Add Hotel</a>
                            <a href="{% url 'travely_hotels:all_hotels' %}" class="list-group-item list-group-item-action">All Hotels</a>
                        <p>Promotion</p>
                            <a href="{% url 'travely_travels:add_promotion' %}" class="list-group-item list-group-item-action">Add Promotion</a>
                        <p>Category</p>
                            <a href="{% url 'travely_travels:add_category' %}" class="list-group-item list-group-item-action">Add Category</a>
                        <p>Users</p>
                            <a href="{% url 'all_users' %}" class="list-group-item list-group-item-action">All Users</a> <!-- Add this line -->

                    </div>
                    <!-- end of side bar -->
                </div>
                <div class="col-md-8 mt-5 ms-5">
                    <img class="image_dash" src="{% static 'dash_image.PNG' %}" alt="people">
                </div>
                
                <!-- top section -->
            </div>
        </div>
        
        <!-- start -->
        <div class="row justify-content-center">
            <div class="col-md-4 mb-4 stretch-card " style="width: 250px; height: 200px;"> 
                <div class="card card-tale">
                    <div class="card-body">
                        <p class="mb-4">Today’s Bookings</p>
                        <p class="fs-30 mb-2">4006</p>
                        <p>10.00% (30 days)</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 stretch-card " style="width: 250px; height: 200px;"> 
                <div class="card card-dark-blue">
                    <div class="card-body">
                        <p class="mb-4">Total Bookings</p>
                        <p class="fs-30 mb-2">61344</p>
                        <p>22.00% (30 days)</p>
                    </div>
                </div>
            </div>
        
            <div class="col-md-6 mb-4 mb-lg-0 stretch-card " style="width: 250px; height: 200px;"> 
                <div class="card card-light-blue">
                    <div class="card-body">
                        <p class="mb-4">Number of Meetings</p>
                        <p class="fs-30 mb-2">34040</p>
                        <p>2.00% (30 days)</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 stretch-card " style="width: 250px; height: 200px;"> 
                <div class="card card-light-danger">
                    <div class="card-body">
                        <p class="mb-4">Number of Clients</p>
                        <p class="fs-30 mb-2">47033</p>
                        <p>0.22% (30 days)</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- end -->



        <!--  -->

        {% comment %} <div class="col">
            <h2>All Users</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.username }}</td>
                            <td>{{ user.first_name }}</td>
                            <td>{{ user.last_name }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div> {% endcomment %}

        <!--  -->
            

        <div class="col-md-9 mb-5">
            <div id="detailedReports" class="carousel slide detailed-report-carousel position-static pt-2" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                            <div class="col-md-12 col-xl-3 d-flex flex-column justify-content-start">
                                <div class="ml-xl-4 mt-3">
                                    <p class="card-title">Detailed Reports</p>
                                    <h1 class="text-primary">$34040</h1>
                                    <h3 class="font-weight-500 mb-xl-4 text-primary">North America</h3>
                                    <p class="mb-2 mb-xl-0">The total number of sessions within the date range. It is the period time a user is actively engaged with your website, page or app, etc</p>
                                </div>  
                            </div>
                            <div class="col-md-12 col-xl-9">
                                <div class="row">
                                <div class="col-md-6 border-right">
                                    <div class="table-responsive mb-3 mb-md-0 mt-3">
                                    <table class="table table-borderless report-table">
                                        <tr>
                                        <td class="text-muted">Illinois</td>
                                        <td class="w-100 px-0">
                                            <div class="progress progress-md mx-4">
                                            <div class="progress-bar bg-primary" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </td>
                                        <td><h5 class="font-weight-bold mb-0">713</h5></td>
                                        </tr>
                                        <tr>
                                        <td class="text-muted">Washington</td>
                                        <td class="w-100 px-0">
                                            <div class="progress progress-md mx-4">
                                            <div class="progress-bar bg-warning" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </td>
                                        <td><h5 class="font-weight-bold mb-0">583</h5></td>
                                        </tr>
                                        <tr>
                                        <td class="text-muted">Mississippi</td>
                                        <td class="w-100 px-0">
                                            <div class="progress progress-md mx-4">
                                            <div class="progress-bar bg-danger" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </td>
                                        <td><h5 class="font-weight-bold mb-0">924</h5></td>
                                        </tr>
                                        <tr>
                                        <td class="text-muted">California</td>
                                        <td class="w-100 px-0">
                                            <div class="progress progress-md mx-4">
                                            <div class="progress-bar bg-info" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </td>
                                        <td><h5 class="font-weight-bold mb-0">664</h5></td>
                                        </tr>
                                        <tr>
                                        <td class="text-muted">Maryland</td>
                                        <td class="w-100 px-0">
                                            <div class="progress progress-md mx-4">
                                            <div class="progress-bar bg-primary" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </td>
                                        <td><h5 class="font-weight-bold mb-0">560</h5></td>
                                        </tr>
                                        <tr>
                                        <td class="text-muted">Alaska</td>
                                        <td class="w-100 px-0">
                                            <div class="progress progress-md mx-4">
                                            <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </td>
                                        <td><h5 class="font-weight-bold mb-0">793</h5></td>
                                        </tr>
                                    </table>
                                    </div>
                                </div>
                                <div class="col-md-6 mt-3">
                                    <canvas id="north-america-chart"></canvas>
                                    <div id="north-america-legend"></div>
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                            <div class="col-md-12 col-xl-3 d-flex flex-column justify-content-start">
                                <div class="ml-xl-4 mt-3">
                                <p class="card-title">Detailed Reports</p>
                                <h1 class="text-primary">$34040</h1>
                                <h3 class="font-weight-500 mb-xl-4 text-primary">North America</h3>
                                <p class="mb-2 mb-xl-0">The total number of sessions within the date range. It is the period time a user is actively engaged with your website, page or app, etc</p>
                                </div>  
                                </div>
                            <div class="col-md-12 col-xl-9">
                                <div class="row">
                                <div class="col-md-6 border-right">
                                    <div class="table-responsive mb-3 mb-md-0 mt-3">
                                    <table class="table table-borderless report-table">
                                        <tr>
                                        <td class="text-muted">Illinois</td>
                                        <td class="w-100 px-0">
                                            <div class="progress progress-md mx-4">
                                            <div class="progress-bar bg-primary" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </td>
                                        <td><h5 class="font-weight-bold mb-0">713</h5></td>
                                        </tr>
                                        <tr>
                                        <td class="text-muted">Washington</td>
                                        <td class="w-100 px-0">
                                            <div class="progress progress-md mx-4">
                                            <div class="progress-bar bg-warning" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </td>
                                        <td><h5 class="font-weight-bold mb-0">583</h5></td>
                                        </tr>
                                        <tr>
                                        <td class="text-muted">Mississippi</td>
                                        <td class="w-100 px-0">
                                            <div class="progress progress-md mx-4">
                                            <div class="progress-bar bg-danger" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </td>
                                        <td><h5 class="font-weight-bold mb-0">924</h5></td>
                                        </tr>
                                        <tr>
                                        <td class="text-muted">California</td>
                                        <td class="w-100 px-0">
                                            <div class="progress progress-md mx-4">
                                            <div class="progress-bar bg-info" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </td>
                                        <td><h5 class="font-weight-bold mb-0">664</h5></td>
                                        </tr>
                                        <tr>
                                        <td class="text-muted">Maryland</td>
                                        <td class="w-100 px-0">
                                            <div class="progress progress-md mx-4">
                                            <div class="progress-bar bg-primary" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </td>
                                        <td><h5 class="font-weight-bold mb-0">560</h5></td>
                                        </tr>
                                        <tr>
                                        <td class="text-muted">Alaska</td>
                                        <td class="w-100 px-0">
                                            <div class="progress progress-md mx-4">
                                            <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </td>
                                        <td><h5 class="font-weight-bold mb-0">793</h5></td>
                                        </tr>
                                    </table>
                                    </div>
                                </div>
                                <div class="col-md-6 mt-3">
                                    <canvas id="south-america-chart"></canvas>
                                    <div id="south-america-legend"></div>
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

                




</div>


<link rel="stylesheet" type="text/css" href="{% static 'css/admin_dashboard.css' %}">


{% endblock %}
