{% extends 'travely_auth/base.html' %}
{% load static %}
{% block title %}Admin Dashboard{% endblock %}
{% block content %}
<div>
  <h1 class="text-center mt-5">Admin Dashboard</h1>

  <!-- body -->
  <!-- top section-->
  <div class="container mt-5 mb-5">
      <div class="row">
          <div class="col-md-3">
              <!-- Sidebar with buttons -->
              <div class="list-group">
                  <p>Travels</p>
                      <a href="{% url 'travely_travels:add_travel' %}" class="list-group-item list-group-item-action">Add Travel</a>
                      <a href="{% url 'travely_travels:all_travels' %}" class="list-group-item list-group-item-action">All Travels</a>
                  <p>Hotels</p>
                      <a href="{% url 'travely_hotels:add_hotel' %}" class="list-group-item list-group-item-action">Add Hotel</a>
                      <a href="{% url 'travely_hotels:all_hotels' %}" class="list-group-item list-group-item-action">All Hotels</a>
                  <p>Packages</p>
                      <a href="{% url 'travely_packages_reservations:add_package' %}" class="list-group-item list-group-item-action">Add Package</a>
                      <a href="{% url 'travely_packages_reservations:all_packages_admin' %}" class="list-group-item list-group-item-action">All Packages</a>
                  <p>Promotion</p>
                      <a href="{% url 'travely_travels:add_promotion' %}" class="list-group-item list-group-item-action">Add Promotion</a>
                  <p>Category</p>
                      <a href="{% url 'travely_travels:add_category' %}" class="list-group-item list-group-item-action">Add Category</a>
                  <p>Users</p>
                      <a href="{% url 'travely_auth:all_users' %}" class="list-group-item list-group-item-action">All Users</a> <!-- Add this line -->

              </div>
              <!-- end of side bar -->
          </div>
          <div class="col-md-6 mt-5 ms-3">
              <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
              {% comment %} <script>
                const xValues = {{ xValues|safe }};
                const yValues = {{ yValues|safe }};
                const barColors = {{ barColors|safe }};
            
                new Chart("myChart", {
                    type: "bar",
                    data: {
                        labels: xValues,
                        datasets: [{
                            backgroundColor: barColors,
                            data: yValues
                        }]
                    },
                    options: {
                        legend: { display: false },
                        title: {
                            display: true,
                            text: "Client and their expenses"
                        }
                    }
                });
            </script> {% endcomment %}
            
          </div>
          <!-- top section -->
      </div>
  </div>
  
  <!-- start of cards -->
  <div class="row justify-content-center">
      <div class="col-3 mb-4 " style="width: 250px; height: 200px;"> 
          <div class="card card-tale">
              <div class="card-body">
                  <p class="mb-4">Today’s Bookings</p>
                  <p class="fs-30 mb-2">4006</p>
                  <p>10.00% (30 days)</p>
              </div>
          </div>
      </div>
      <div class="col-3 mb-4 " style="width: 250px; height: 200px;"> 
          <div class="card card-dark-blue">
              <div class="card-body">
                  <p class="mb-4">Total Bookings</p>
                  <p class="fs-30 mb-2">{{ total_reservation_price }}</p>
                  <p>mad (DH)</p>
              </div>
          </div>
      </div>
  
      <div class="col-3 mb-4 " style="width: 250px; height: 200px;"> 
          <div class="card card-light-blue">
              <div class="card-body">
                  <p class="mb-4">Number of Meetings</p>
                  <p class="fs-30 mb-2">34040</p>
                  <p>2.00% (30 days)</p>
              </div>
          </div>
      </div>
      <div class="col-3 " style="width: 250px; height: 200px;"> 
          <div class="card card-light-danger">
              <div class="card-body">
                  <p class="mb-4">Number of Clients</p>
                  <p class="fs-30 mb-2">{{ num_clients }}</p>
                  <p>in the plateforme</p>
              </div>
          </div>
      </div>
  </div>
  <!-- end of cards -->


</div>


<link rel="stylesheet" type="text/css" href="{% static 'css/admin_dashboard.css' %}">

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
<script>
const xValues = {{ xValues|safe }};
const yValues = {{ yValues|safe }};
const barColors = {{ barColors|safe }};

new Chart("myChart", {
  type: "bar",
  data: {
      labels: xValues,
      datasets: [{
          backgroundColor: barColors,
          data: yValues
      }]
  },
  options: {
      legend: { display: false },
      title: {
          display: true,
          text: "Client and their expenses"
      }
  }
});
</script>


{% endblock %}
